body
{
/*
	padding:0px;
	margin:0px;
*/
	height:100%;
	background:url('../images/content_background.png');
}

h1
{
	font-size:350%;
	margin:0px;
	margin-left:20px;
}

.header
{
	border-top:3px solid #111;
	height:300px;
	width:100%;
	background:url('../images/background-large.png') no-repeat top center;
	border-bottom:3px solid #9d9160;
	box-shadow:0px -10px 10px 10px #666;
	z-index:2;
}

.header-content
{
	position:relative;
	width:1280px;
	margin:auto;
}

.header img
{
	position:relative;
	top:20px;
	left:25px;
}

.header .region-select
{
	
	position:absolute;
	top:16px;
	left:640px;
}

.region-select img
{
	position:absolute;
	left:0px;
	top:0px;
	
	z-index:3;
}

.region-select .region-content
{
	z-index:5;
	position:absolute;
	left:75px;
	top:40px;
	width:500px;
	padding-top:25px;
	
}

.region-select .region-content h1
{
	color:#554C2A;
	-o-transform: rotate(9deg);
	-moz-transform: rotate(9deg);
	-webkit-transform: rotate(9deg);
}

.region-select .region-content form
{
	position:absolute;
	top:145px;
	left:95px;
	font-size:1.5em;
	font-family: Celestia, sans-serif;
	
}

.content
{
	
	background:url('../images/content_background.png');
/*
	position:absolute;
*/
	top:306px;
	margin:auto;
	width:1024px;
}

.content-text
{
	border:1px solid #D1C6AB;
	background-color:#fff;
	border-radius:5px;
	margin-top:15px;
	margin-left:15px;
	margin-bottom:15px;
	margin-right:15px;
	padding:15px 25px;
	color:#56524B;
	box-shadow:0px 0px 5px #ccc;
}

select
{
	font-size:.8em;
	height:2em;
	font-family: PM-Sans, serif;
	width:250px;
}

.leftpanel
{
	float:left;
	width:50%;
	margin-left:-10px;
	border-right:1px solid #ddd;
	text-align:center;
}

.rightpanel
{
	float:right;
	width:50%;
	margin-right:9px;
	text-align:center;
}

.separator
{
	background-color:#ddd;
	width:1px;
	height:100px;
	float:left;
}

.clear
{
	clear:both;
}
