@font-face {
  font-family: Celestia;
  src: url('Celestia.ttf');
}

@font-face {
	font-family: "PT Sans";
	src: url('PTS55F.ttf');
	font-weight:normal;
}

@font-face {
	font-family: "PT Sans";
	src: url('PTS75F.ttf');
	font-weight:bold;
}

@font-face {
	font-family: "PT Sans";
	src: url('PTS56F.ttf');
	font-style:italic;
}

body
{
	/*font-family:"PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	font-family:Arial, sans-serif;
	font-size:0.8em;
	padding:0px;
	margin:0px;
}

h1
{
	font-family:Celestia, serif;
}

form
{
	line-height:2.5em;
}

select
{
	height:1.5em;
	min-width:200px;
	border-radius:3px;
	padding-left:5px;
	border:1px solid #bbb;
	background:-webkit-gradient(linear,left top,left bottom,from(#ECECEC),to(#D2D2D2));
	background:-moz-linear-gradient(top, #ECECEC,#D2D2D2);
}

.invalid
{
	border:1px solid #d44 !important;
	box-shadow:inset 0px 1px 1px #f99 !important;
	background-color:#fee !important;
}

input[type="text"], input[type="password"], input[type="file"]
{
	height:1.5em;
	border:1px solid #ddd;
	border-radius:3px;
	background:#fff;
	margin-right:5px;
	box-shadow:inset 0px 1px 1px #eee;
}

label
{
	display: block;
	width:150px;
	float:left;
	text-align:right;
	padding-right:1em;
}

a
{
	border:0px;
}

.form-note
{
	font-style:italic;
	font-size:0.9em;
}
